<div class="art-content">
    <!-- curtain -->
    <div class="art-curtain"></div>

    <!-- top background -->
    <div class="art-top-bg" style="background-image: url(img/bg.jpg)">
        <!-- overlay -->
        <div class="art-top-bg-overlay"></div>
        <!-- overlay end -->
    </div>
    <!-- top background end -->

    <!-- swup container -->
    <div class="transition-fade" id="swup">
        <div id="scrollbar" class=" art-scroll-frame"></div>
    </div>
    <!-- swup container end -->
</div>