<!-- container -->
<div class="container-fluid">
  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-lg-6">
      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          <!-- title -->
          <h4>Education</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

      <!-- timeline -->
      <div class="art-timeline art-gallery" id="history">
        <div *ngFor="let edu of education" class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>{{ edu.title }}</h5>
                <div class="art-el-suptitle mb-15">{{ edu.subtitle }}</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">{{ edu.dates }}</span>
              </div>
            </div>

            <p>
              {{ edu.description }}
            </p>
            <a
              data-fancybox="diplome"
              href="files/certificate.jpg"
              class="art-link art-color-link art-w-chevron"
              >Diplome</a
            >
          </div>
        </div>
      </div>
      <!-- timeline end -->
    </div>

    <div class="col-lg-6">
      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          <!-- title -->
          <h4>Work History</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

      <!-- timeline -->
      <div class="art-timeline">
        <div *ngFor="let wh of work_history" class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>{{ wh.title }}</h5>
                <div class="art-el-suptitle mb-15">{{ wh.subtitle }}</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">{{ wh.dates }}</span>
              </div>
            </div>
            <p>
              {{ wh.description }}
            </p>
          </div>
        </div>
      </div>
      <!-- timeline end -->
    </div>
    <!-- col end -->
  </div>
  <!-- row end -->
</div>
<!-- container end -->
